* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    font-family: sans-serif;
}

.main {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
}

.left-image {
    border: 1px solid black;
    width: 40vw;
    background-image: url(./images/photo-1489549132488-d00b7eee80f1.avif);
    background-size: cover;
    background-position: right;
}

.right-form {
    width: 60vw;
}

.top-para {
    height: 30vh;
    background-color: rgba(249,250,251,255);
    padding: 2rem;
}

.middle-form {
    height: 40vh;
}

h3 {
    padding: 2rem;
}

.bottom-section {
    height: 30vh;
    background-color: rgba(249,250,251,255);
    box-shadow: 7px 4px 15px -3px rgba(0,0,0,0.75);
}

.main-div {
    display: flex;
    flex-direction: row;
    min-width: 200px;
    min-height: 200px;
}

.left-side {
    display: flex;
    flex-direction: column;
    border: 2px solid blue;
    margin-left: 2rem;
    width: 250px;
}

.right-side {
    display: flex;
    flex-direction: column;
    border: 2px solid yellow;
    margin-left: 100px;;
    width: 250px;
}

label {
    font-size: 0.75rem;
    margin-bottom: 2px;
    font-weight: bolder;
    letter-spacing: 1px;
}

input {
    height: 30px;
    border: 1px solid #E5E7EB;
    border-radius: 3px;
    font-size: 12px;
    padding: 5px;
}

input#first-name, input#email, input#last-name, input#phone {
    margin-bottom: 20px;
}

.error {
    border: 1.5px solid red;
}

.error-message {
    color: red;
    font-size: 12px;
}

input:focus {
    outline: none;
    border: 1px solid blue;
    box-shadow: 7px 4px 11px -2px rgba(163,161,161,0.74);
}